.header_container {
	width: 100%;
	height: 80px;
	background: white;
	filter: drop-shadow(0 0 50px #333);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	font-family: 'captain comic', 'Arial', 'Helvetica',
		'sans-serif';
	color: #00deff;
	.header_logo {
		margin-left: 5%;
		width: 300px;
	}
	.header_links_container {
		display: flex;
		justify-content: space-between;
		margin-right: 5%;
		text-decoration: none;
		list-style: none;
		.header_links {
			text-shadow: 0 0 20px #00deff;
			margin: 0 20px;
		}
	}
}
